service/n8n/template.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ce66222b-0910-426f-84eb-b97cf9623e3d",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "0df25d1d-930a-4b0a-9e10-2a0773075e27",
                    "leftValue": "={{ $json.message.document.mime_type }}",
                    "rightValue": "=image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "09d1a82d-ecce-413c-a4ca-8b5b6ae33235",
                    "leftValue": "={{ $json.message.chat.type && $json.message.chat.type }} }}",
                    "rightValue": "=url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "31976e28-4b4e-43b0-9e10-c3bad70ce502",
                    "leftValue": "={{ $json.message.text  }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 4,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -112,
        256
      ],
      "name": "Switch",
      "id": "3965e6a3-2556-4763-a61c-a056bfc648cf"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔗 Elegiste URL",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        288,
        544
      ],
      "name": "URL",
      "id": "634c10e8-4e5d-4600-a108-ac32db7ef252",
      "webhookId": "e2f1054f-fa0e-45ac-b03d-346ddeff5ac9",
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        336
      ],
      "id": "6e6fac1f-320b-4857-adb7-eb8ccfb4f47a",
      "name": "Telegram Trigger1",
      "webhookId": "e0b13c68-63eb-4fa5-81ef-022778d7f7de",
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ \"Hola 👋, selecciona una opción:\\n\\n1️⃣ PDF → escribe: pdf\\n2️⃣ TXT → escribe: txt\\n3️⃣ IMAGEN → escribe: imagen\\n4️⃣ URL → escribe: url\\n\\nPara salir: salir\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "TEXTO",
                    "additionalFields": {
                      "callback_data": "TXT"
                    }
                  }
                ]
              }
            },
            {},
            {},
            {}
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        80
      ],
      "id": "eb255853-a420-4b35-8b45-e329a76915e8",
      "name": "Send a text message",
      "webhookId": "10b704e7-65b8-4519-b980-07325211d74a",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.thumbnail.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        384
      ],
      "id": "2cf23bef-f107-479c-bfbd-92450da8961f",
      "name": "Get a file",
      "webhookId": "e5d497c7-ea52-487e-b9d4-6cfe4b3f2d8d",
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        208
      ],
      "id": "b69a441c-2e35-42bc-83bf-2eb8bae6e38c",
      "name": "Get a chat",
      "webhookId": "e5d497c7-ea52-487e-b9d4-6cfe4b3f2d8d",
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        0
      ],
      "id": "b277703a-3de9-4183-a120-bf0abf83c37c",
      "name": "Get a file1",
      "webhookId": "e5d497c7-ea52-487e-b9d4-6cfe4b3f2d8d",
      "credentials": {
        "telegramApi": {
          "id": "1AumNK605I1c0C4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ilovepdf.com/v1 /auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"public_key\": \" project_public_a9ce98814f9312bbc67a60031aa93b06_neiiv9013c9d4a60fd18325304520725c40de\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        0
      ],
      "id": "1d174ebf-f346-4bf6-bbaf-b31ba7a717a0",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        []
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f17a143048bd2bba4fdfc0df506a1ff162d1af0967cdc65b267c39e430c42fab"
  }
}